header{
    overflow: hidden;
    z-index: 100;
    position: sticky;
    top: 0;

}

nav{
    display: flex;
    justify-content: space-between;

    background-color: #FFFBDE;
    padding: 20px;
    
}

.logo{
    display: flex;

}
.logo a {
    text-decoration: none;
    font-size: 18px;
    color: #4682A9;
    padding-left: 30px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list li  {
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: #4682A9;
    padding: 25px;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}


.list li a:hover{
    color: #ffe600;
}

